{% extends 'main/base.html' %}
{% load static %}

{% block title %}Something{% endblock %}

{% block content %}
    <main>
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Some data from database:</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              {% for post in posts %}
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{% get_media_prefix %}{{ post.image }}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ post.title }}</h3>
                      <small>{{ post.description|slice:":40" }}...</small>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto" >
                          <img src="{% static 'main/img/icon.png' %}" style="background-color: white;" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                          <small>{{ post.author|slice:":20" }}</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                          <small>{{ post.created_date }}</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
    </main>
{% endblock %}